<h1>後台管理討論區</h1>

<p>
    <%= link_to("新增討論區", new_admin_board_path) %> |
    <%= link_to("後台文章區", admin_posts_path)%> | 
    <%= link_to("前台首頁", boards_path)%> |
</p>

<ul>
    <% @boards.each do |board| %>
    <li>
        <b><%= link_to(board.name, admin_board_path(board)) %></b>
        <p>
            <%= link_to("編輯", edit_admin_board_path(board)) %> |
            <%= link_to("刪除", admin_board_path(board), :method => :delete) %>         
        </p>
    </li>
	<% end %>
</ul>

