<%= render :partial => "common/login_info" %>




<h1 style="border:solid khaki 1px; background: oldlace;">討 論 區</h1>

<% if current_user %>
    <p>
        <%= link_to("新 增 討 論 區", new_admin_board_path) %> |
    </p>
<% end %>

<ul>
    <% @boards.each do |board| %>
    <li style="border:solid khaki 1px; background: oldlace;">
        <%= link_to(board.name, admin_board_path(board)) %>
        <p>
            <% if user_signed_in? %>
                <%= link_to("編輯", edit_admin_board_path(board)) %> |
                <%= link_to("刪除", admin_board_path(board), :method => :delete) %>
            <% end %>
        </p>
    </li>
	<% end %>
</ul>

