<h1>編輯文章</h1>

<%= form_for @post, :url => admin_post_path(@post), :html => {:method => :put}  do |f| %>    
    <%= render :partial => "common/form_post", :locals => {:f => f} %>
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}, @category_ids[0]), {:include_blank => "Select"}) %><br>
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}, @category_ids[1]), {:include_blank => "Select"}) %><br>
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}, @category_ids[2]), {:include_blank => "Select"}) %><br>

    <%= f.submit "更新" %>
<% end %>
