<%= render :partial => "common/login_info" %>


<h1 style="border:solid khaki 1px; background: oldlace;">討 論 區</h1>

<% if current_user %>
    <p>
        <%= link_to("新增討論區", new_board_path) %> |
        <%= link_to("新增類別", new_category_path) %>
    </p>
<% end %>

<ul>
    <% @boards.each do |board| %>
    <li>
        <%= link_to(board.name, board_posts_path(board)) %>
        <p>
            <%= link_to("編輯", edit_board_path(board)) %> |
            <%= link_to("刪除", board_path(board), :method => :delete) %>
        </p>
    </li>
	<% end %>
</ul>

