<p>
    <%= link_to("Create New board", new_board_path) %> |
    <%= link_to("Create New Category", new_category_path) %>
</p>
<ul>
    <% @boards.each do |board| %>
    <li>
        <%= board.name %> Board :
        <p>
            <%= link_to("Show", board_path(board)) %> |
            <%= link_to("Edit", edit_board_path(board)) %> |
            <%= link_to("Delete", board_path(board), :method => :delete) %>
        </p>
    </li>
	<% end %>
</ul>

