<%= form_for @post, :url => board_post_path(@board, @post), :html => {:method => :put}  do |f| %>
    <p><%= f.label :subject, "Subject" %>
    <%= f.text_field :subject %></p>

    <%= f.label :content, "Content" %>
    <p><%= f.text_area :content %></p>
    
    <%= select_tag('category_ids[]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>
    <%= select_tag('category_ids[]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>
    <%= select_tag('category_ids[]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>

    <%= f.submit "Update" %>
<% end %>
