<%= render :partial => "common/login_info" %>
<p style="border:1px solid red; background: red;"><%= flash[:notice]%></p>

<p>
    <% if current_user %>
            <%= link_to("新 文 章", new_board_post_path) %> |
    <% end %>

    <%= link_to("回 到 討 論 區", boards_path) %>
</p>

<h1 style="border:1px solid khaki; background: oldlace;"><%= @board.name %> 文 章 區</h1>

<ul>
    <% @posts.each do |post| %>
    <li style="border:solid khaki 1px; background: oldlace;">
        <%= link_to(post.subject, board_post_path(@board, post)) %>
         By <%= post.user.email if post.user.present? %>
        <% if user_signed_in? && (current_user.is_admin || post.user == current_user) %>
            <p>
                <%= link_to("編輯", edit_board_post_path(@board, post))%>
                <%= link_to("刪除", board_post_path(@board, post), :method => :delete)%>
            </p>
        <% end %>
    </li>
    <% end %>
</ul>
