<p>
    <% if current_user %>
            <%= link_to("新文章", new_board_post_path) %> |
    <% end %>
    <%= link_to("最新更新", board_posts_path(:recent => 1))%> ｜
    <%= link_to("過期文章", board_posts_path(:recent => 0))%> ｜
    <%= link_to("回到討論區", boards_path) %>
    
</p>

<h1><%= @board.name %>文章區</h1>

<ul>
    <% @posts.each do |post| %>
    <li>
        <b><%= link_to(post.subject, board_post_path(@board, post)) %>
         By <%= post.user.email if post.user.present? %></b>
         
        <% if user_signed_in? && (current_user.is_admin || post.user == current_user) %>
            <p>
                <%= link_to("編輯", edit_board_post_path(@board, post))%>
                <%= link_to("刪除", board_post_path(@board, post), :method => :delete)%>
            </p>
        <% end %>
    </li>
    <% end %>
</ul>

<p id="paginate"><%= will_paginate(@posts) %></p>
