<%= form_for @post, :url => board_posts_path(@board) do |f| %>
    <p><%= f.label :subject, "Subject" %>
    <%= f.text_field :subject %></p>

    <%= f.label :content, "Content" %>
    <p><%= f.text_area :content %></p>
    
    <%= select_tag('category_ids[]', options_for_select(Category.all.map{ |c| [c.name, c.id]})) %>
    
    <%= f.submit "Create" %>
<% end %>

