<h1>發表文章</h1>
<%= form_for @post, :url => board_posts_path(@board), :html => { :multipart => true } do |f| %>
    <%= render :partial => "common/form_post", :locals => {:f => f} %> 
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>
    <%= select_tag('post[category_ids][]', options_for_select(Category.all.map{ |c| [c.name, c.id]}), {:include_blank => "Select"}) %><br>
    <p>
        <%= f.file_field :photo %>
    </p>
    <%= f.submit "新增" %>
<% end %>

