<p>
    <%= link_to("New category", new_category_path) %> |
    <%= link_to("Back to Board", boards_path) %>
</p>

<ul>
    <% @categories.each do |category| %>
    <li>
        Category Name : <%= category.name %>
        <p>
            <%= link_to("Show", category_path(category)) %>
            <%= link_to("Edit", edit_category_path(category)) %>
            <%= link_to("Delete", category_path(category), :method => :delete) %>
        </p>
    </li>
    <% end %>
</ul>
